* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #141414;
    color: white;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.profile-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
   font-size: 3.5vw;
   margin-bottom: 2rem;
   font-weight: 500;
    
}

.profile-list {
    display: flex;
    gap: 2vw;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
    min-width: 110px;
    max-width: 180px;

}

.profile-button{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    transition: border 0.2, transform 0.1s;
    padding: 0;
    overflow: hidden;
}

.profile-button:hover .profile-image {
    outline: 3px solid white;
    outline-offset: -3px;
}

.profile-name {
    margin-top: 15px;
    color:#808080;
    font-size: medium;
    transition: color 0.2s;

}

.profile-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.profile-button:hover { border-color: white;}

.profile-item:hover .profile-name {color: white;}

.profile-button:active { transform: scale(0.95);}

.manage-button {
    margin-top: 3rem;
    background: transparent;
    color: #808080;
    border: 1px solid #808080;
    padding: 0.6em 1.8em;
    font-size: 1.1vw;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.2s;
}

.manage-button:hover {
    color: white;
    border-color: white;
}





